Repository ESKYoung/cookiecutter-machine-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy, check-toml, check-yaml

black:
  name: black — Python code formatter (auto-fix)
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - .
  pass_filenames: false

flake8:
  name: flake8 — PEP8 linter
  entry: poetry run flake8
  language: system
  require_serial: true

isort:
  name: isort — sort Python imports (auto-fix)
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy — static Python typing
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

nbstripout:
  name: nbstripout — strip out notebook metadata and outputs (auto-fix)
  entry: poetry run nbstripout
  language: system
  args:
  - --extra-keys
  ...

nbqa-black:
  name: nbqa-black — Python code formatting for notebooks (auto-fix)
  entry: poetry run nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8 — PEP8 linter for notebooks
  entry: poetry run nbqa flake8
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort — sort Python imports for notebooks (auto-fix)
  entry: poetry run nbqa isort
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy — static Python typing for notebooks
  entry: poetry run nbqa mypy
  language: system
  require_serial: true

check-toml:
  name: Check TOML files syntax
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check YAML files syntax
  entry: poetry run check-yaml
  language: system

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@4d4d069be967749255bbad23e70639c6f516db17 🚀
  .buildinfo
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/documentation_options.js
  _static/scripts/bootstrap.js
  _static/scripts/bootstrap.js.map
  _static/scripts/pydata-sphinx-theme.js
  _static/scripts/pydata-sphinx-theme.js.map
  _static/styles/bootstrap.css
  _static/styles/pydata-sphinx-theme.css
  _static/vendor/fontawesome/6.1.2/js/all.min.js
  _static/vendor/fontawesome/6.1.2/js/all.min.js.LICENSE.txt
  _static/webpack-macros.html
  genindex.html
  index.html
  reference/reference.html
  search.html
Due: none

chore: update year on MIT Licence
  LICENSE
Due: none

feat: add third-party licence into project template
  {{ cookiecutter.repository_name }}/THIRD_PARTY_NOTICES
Due: none

ci: add Poetry validation check pre-commit hook
  .pre-commit-config.yaml
  docs/contributing.rst
  {{ cookiecutter.repository_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repository_name }}/docs/contributing.rst
Due: check-yaml

chore: update packages
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: bump to Python 3.10
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  .python-version
  README.rst
  docs/contributing.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.python-version
  {{ cookiecutter.repository_name }}/README.rst
  {{ cookiecutter.repository_name }}/docs/contributing.rst
  {{ cookiecutter.repository_name }}/noxfile.py
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, check-toml, check-yaml

chore: update Poetry version
  .github/actions/install-poetry/action.yml
  docs/contributing.rst
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/docs/contributing.rst
Due: check-yaml

ci: add Python 3.11 to CI checks
  .github/workflows/nox.yml
  noxfile.py
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy, check-yaml

ci: add CODEOWNERS to repositories
  .github/CODEOWNERS
  {{ cookiecutter.repository_name }}/.github/CODEOWNERS
Due: none

chore: bump project version for release
  pyproject.toml
Due: check-toml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@d9309e3abd32d075f975a20b4dd181b018fb2bc3 🚀
  .buildinfo
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/documentation_options.js
  genindex.html
  index.html
  reference/reference.html
  search.html
Due: none

feat: add project commit SHA to `THIRD_PARTY_NOTICES`
  cookiecutter.json
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/THIRD_PARTY_NOTICES
Due: check-toml

ci: bump GitHub Action versions
  .github/actions/install-poetry/action.yml
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

ci: streamline Nox sessions
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/noxfile.py
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, check-toml, check-yaml

chore: bump project version to 1.4.0 for release
  pyproject.toml
Due: check-toml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@c1169da03f8b9e6723371d7ac007b6ba18567cbd 🚀
  .buildinfo
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/documentation_options.js
  genindex.html
  index.html
  reference/reference.html
  search.html
Due: none

test: ignore `tests` directory from coverage checks
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

fix: remove `fail_under` condition
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

docs: update `README.md` to clarify that hooks may fail on first commit
  README.md
Due: none

docs: minor cleanup from PR #35
  README.md
Due: none

fix: remove `jinja2-git` dependency
  cookiecutter.json
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/THIRD_PARTY_NOTICES
Due: check-toml

chore: reorganise `tests` folders
  tests/cookiecutter_machine_learning/.gitkeep
  tests/fixtures/cookiecutter_machine_learning/.gitkeep
  tests/fixtures/hooks/.gitkeep
  tests/fixtures/load_cookiecutter_json.py
  tests/hooks/.gitkeep
  tests/test_folder_structure.py
  {{ cookiecutter.repository_name }}/tests/fixtures/{{ cookiecutter.package_name }}/.gitkeep
  {{ cookiecutter.repository_name }}/tests/{{ cookiecutter.package_name }}/.gitkeep
Due: black, flake8, isort, mypy

fix: minor fix to Make command output message
  Makefile
Due: none

feat: add post-gen hooks to run formatters, and initialise Git
  hooks/post_gen_project.py
  tests/hooks/.gitkeep
  tests/hooks/test_post_gen_project.py
Due: black, flake8, isort, mypy

ci: ensure root package is installed in editable mode
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

ci: fix `coverage` configurations
  Makefile
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

docs: add user documentation on post-generation hooks
  README.rst
Due: none

docs: refactor template docs into Markdown
  {{ cookiecutter.repository_name }}/CODE_OF_CONDUCT.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.rst
  {{ cookiecutter.repository_name }}/README.md
  {{ cookiecutter.repository_name }}/README.rst
  {{ cookiecutter.repository_name }}/THIRD_PARTY_NOTICES.md
  {{ cookiecutter.repository_name }}/docs/assumptions.md
  {{ cookiecutter.repository_name }}/docs/assumptions.rst
  {{ cookiecutter.repository_name }}/docs/code-of-conduct.md
  {{ cookiecutter.repository_name }}/docs/code-of-conduct.rst
  {{ cookiecutter.repository_name }}/docs/conf.py
  {{ cookiecutter.repository_name }}/docs/contributing.md
  {{ cookiecutter.repository_name }}/docs/contributing.rst
  {{ cookiecutter.repository_name }}/docs/data-sources.md
  {{ cookiecutter.repository_name }}/docs/data_sources.rst
  {{ cookiecutter.repository_name }}/docs/index.md
  {{ cookiecutter.repository_name }}/docs/index.rst
  {{ cookiecutter.repository_name }}/docs/reference/reference.md
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, check-toml

chore: install `myst-parser`
  poetry.lock
  pyproject.toml
Due: check-toml

docs: refactor project docs into Markdown
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTING.rst
  README.md
  README.rst
  docs/code-of-conduct.md
  docs/code-of-conduct.rst
  docs/conf.py
  docs/contributing.md
  docs/contributing.rst
  docs/index.md
  docs/index.rst
  docs/reference/hooks.md
  docs/reference/reference.md
  docs/reference/reference.rst
  docs/reference/src.md
  pyproject.toml
Due: black, flake8, isort, mypy, check-toml

docs: add note on `safety`'s non-commercial database usage
  docs/contributing.md
  {{ cookiecutter.repository_name }}/docs/contributing.md
Due: none

chore: drop unnecessary `pytest-cookies` dependency in template
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: bump dependencies in main project
  poetry.lock
  pyproject.toml
Due: check-toml

chore: bump dependencies in template
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: bump `prettier` version
  .pre-commit-config.yaml
  {{ cookiecutter.repository_name }}/.pre-commit-config.yaml
Due: check-yaml

docs: add contributing requirements for multiple Python versions
  docs/contributing.md
  {{ cookiecutter.repository_name }}/docs/contributing.md
Due: none

feat: add default local Python version as a user option
  cookiecutter.json
  tests/test_folder_structure.py
  {{ cookiecutter.repository_name }}/.python-version
Due: black, flake8, isort, mypy

chore: hide command prints for some `make` commands
  Makefile
Due: none

chore: bump project to version 2.0.0
  pyproject.toml
Due: check-toml

docs: improve wording around project creation
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  nbqa-black: any of: \.ipynb$
  nbqa-flake8: any of: \.ipynb$
  nbqa-isort: any of: \.ipynb$
  nbqa-mypy: any of: \.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
