Repository ESKYoung/cookiecutter-machine-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Secrets detection
      - id: detect-secrets
        name: detect-secrets — secrets detection
        entry: poetry run detect-secrets-hook
        language: system
        args: ["--baseline", ".secrets.baseline"]

      # Python code formatting, typing, linting, and vulnerability checks
      - id: black
        name: black — Python code formatter (auto-fix)
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
        args: ["."]
        pass_filenames: false
      - id: flake8
        name: flake8 — PEP8 linter
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort — sort Python imports (auto-fix)
        entry: poetry run isort
        language: system
        types: [python]
        require_serial: true
      - id: mypy
        name: mypy — static Python typing
        entry: poetry run mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: safety
        name: safety — check for security vulnerabilities in Python packages
        entry: poetry run safety check
        language: system
        pass_filenames: false
        args: ["--bare"]

      # Jupyter, JupyterLab, Google Colab, and Databricks notebook checks
      - id: nbstripout
        name: nbstripout — strip out notebook metadata and outputs (auto-fix)
        entry: poetry run nbstripout
        language: system
        types: [jupyter]
        args:
          - --extra-keys
          - "metadata.colab metadata.kernelspec cell.metadata.colab cell.metadata.executionInfo cell.metadata.id cell.metadata.outputId cell.metadata.application/vnd.databricks.v1+cell metadata.application/vnd.databricks.v1+notebook metadata.interpreter"
      - id: nbqa-black
        name: nbqa-black — Python code formatting for notebooks (auto-fix)
        entry: poetry run nbqa black
        language: system
        types: [jupyter]
        require_serial: true
      - id: nbqa-flake8
        name: nbqa-flake8 — PEP8 linter for notebooks
        entry: poetry run nbqa flake8
        language: system
        types: [jupyter]
        require_serial: true
      - id: nbqa-isort
        name: nbqa-isort — sort Python imports for notebooks (auto-fix)
        entry: poetry run nbqa isort
        language: system
        types: [jupyter]
        require_serial: true
      - id: nbqa-mypy
        name: nbqa-mypy — static Python typing for notebooks
        entry: poetry run nbqa mypy
        language: system
        types: [jupyter]
        require_serial: true

      # General code formatting
      - id: end-of-file-fixer
        name: Fix blank lines at end of files (auto-fix)
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system

      # Other checks
      - id: check-added-large-files
        name: Check for added large files (500+ kb)
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check TOML files syntax
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check YAML files syntax
        entry: poetry run check-yaml
        language: system
        types: [yaml]

  # Code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: prettier — code formatting for various languages (auto-fix)

chore: bump `cookiecutter` package dependency to latest version
  cookiecutter.json
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/README.md
  {{ cookiecutter.repository_name }}/docs/conf.py
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, check-toml

docs: add warning on no support for GitLab CI/CD
  README.md
Due: none

chore: bump `pydata-sphinx-theme` to fix doc build issues
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

fix: add `--no-ansi` flags for `poetry install` to fix `act` failure
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

fix: enforce UTC timezone in `act` containers
  .actrc
  {{ cookiecutter.repository_name }}/.actrc
Due: none

fix: ignore GitHub Action to deploy to GitHub Pages when testing locally
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

chore: bump package versions
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, check-toml

feat: add cookiecutter prompts
  cookiecutter.json
Due: none

fix: resolve issue with installing `nox`-session dependent groups
  .github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
Due: check-yaml

docs: update documentation on using `act`
  CONTRIBUTING.md
  Makefile
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/Makefile
Due: none

chore: bump `cookiecutter` to 2.3.0
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: bump `nox-poetry` to 1.0.3
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

ci: integrate `nox_poetry` 1.0.3 group dependency builds
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

fix: bug in temporary directory generation during `nox` session
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

fix: fix incorrect docs module for Sphinx autosummary extension
  {{ cookiecutter.repository_name }}/docs/reference/reference.md
Due: none

fix: add `pyproject` extra dependencies for `cruft`
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: streamline `make` commands for readability/use
  CONTRIBUTING.md
  Makefile
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/Makefile
Due: none

test: add tests to check folder structure is correctly created
  poetry.lock
  pyproject.toml
  tests/fixtures/.gitkeep
  tests/fixtures/load_cookiecutter_json.py
  tests/system/.gitkeep
  tests/system/test_folder_structure.py
Due: black, flake8, isort, mypy, check-toml

feat: add GNU GPLv3 license option
  .pre-commit-config.yaml
  cookiecutter.json
  tests/system/test_folder_structure.py
  {{ cookiecutter.repository_name }}/README.md
  {{ cookiecutter.repository_name }}/pyproject.toml
  {{ cookiecutter.repository_name }}/{% if cookiecutter.license == "GNU GPL" %}LICENSE{% endif %}
Due: black, flake8, isort, mypy, check-toml, check-yaml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@78a9bf134f2ceeda4ee75ae598b15e7ddb55cb3a 🚀
  .buildinfo
  .doctrees/CODE_OF_CONDUCT.doctree
  .doctrees/CONTRIBUTING.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/reference/reference.doctree
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/_sphinx_javascript_frameworks_compat.js
  _static/basic.css
  _static/copybutton.js
  _static/doctools.js
  _static/jquery-3.6.0.js
  _static/jquery.js
  _static/language_data.js
  _static/pygments.css
  _static/scripts/bootstrap.js
  _static/scripts/bootstrap.js.LICENSE.txt
  _static/scripts/bootstrap.js.map
  _static/scripts/pydata-sphinx-theme.js
  _static/scripts/pydata-sphinx-theme.js.map
  _static/searchtools.js
  _static/styles/bootstrap.css
  _static/styles/pydata-sphinx-theme.css
  _static/underscore-1.13.1.js
  _static/underscore.js
  _static/vendor/fontawesome/6.1.2/css/all.min.css
  _static/webpack-macros.html
  genindex.html
  index.html
  objects.inv
  reference/reference.html
  search.html
  searchindex.js
Due: none

fix: bump gitpython dependency
  poetry.lock
Due: none

fix: add code coverage to `nox` testing sessions
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

fix: bump to correct package version in `main`
  pyproject.toml
Due: check-toml

chore: bump version for release
  pyproject.toml
Due: check-toml

fix: omit cookiecutter template path from code coverage
  poetry.lock
  pyproject.toml
Due: check-toml

fix: remove redundant code failure assertion
  tests/system/test_folder_structure.py
Due: black, flake8, isort, mypy

ci: pin Poetry version in GitHub Actions
  .github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
Due: check-yaml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@0ab731b3215116d1460543e4499469483c84d088 🚀
  .buildinfo
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/basic.css
  _static/documentation_options.js
  _static/searchtools.js
  _static/sphinx_highlight.js
  genindex.html
  index.html
  reference/reference.html
  search.html
  searchindex.js
Due: none

docs: update template `docs` folder to use reStructuredText
  {{ cookiecutter.repository_name }}/docs/CODE_OF_CONDUCT.md
  {{ cookiecutter.repository_name }}/docs/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/docs/assumptions.md
  {{ cookiecutter.repository_name }}/docs/assumptions.rst
  {{ cookiecutter.repository_name }}/docs/code-of-conduct.rst
  {{ cookiecutter.repository_name }}/docs/contributing.rst
  {{ cookiecutter.repository_name }}/docs/data_sources.md
  {{ cookiecutter.repository_name }}/docs/data_sources.rst
  {{ cookiecutter.repository_name }}/docs/index.md
  {{ cookiecutter.repository_name }}/docs/index.rst
  {{ cookiecutter.repository_name }}/docs/reference/reference.rst
Due: none

chore: remove `myst-parser` from dependencies
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, mypy, check-toml

docs: update template root docs to use reStructuredText
  {{ cookiecutter.repository_name }}/CODE_OF_CONDUCT.rst
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.rst
  {{ cookiecutter.repository_name }}/README.md
  {{ cookiecutter.repository_name }}/README.rst
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

docs: update `docs` folder to use reStructuredText
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/code-of-conduct.rst
  docs/conf.py
  docs/contributing.rst
  docs/index.md
  docs/index.rst
  docs/reference/reference.rst
Due: black, flake8, isort, mypy

chore: remove `myst-parser` from template dependencies
  {{ cookiecutter.repository_name }}/docs/conf.py
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, check-toml

docs: update root docs to use reStructuredText
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.md
  CONTRIBUTING.rst
  README.md
  README.rst
  pyproject.toml
Due: check-toml

chore: update package dependencies
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: fix mypy issue with `example_notebook.ipynb`
  {{ cookiecutter.repository_name }}/notebooks/example_notebook.ipynb
Due: nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy

chore: fix Python version of project
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

docs: fix new line issue with PR template
  .github/pull_request_template.md
Due: none

docs: fix minor typo in code comments
  noxfile.py
Due: black, flake8, isort, mypy
