Repository ESKYoung/cookiecutter-machine-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy, check-toml, check-yaml

black:
  name: black — Python code formatter (auto-fix)
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - .
  pass_filenames: false

flake8:
  name: flake8 — PEP8 linter
  entry: poetry run flake8
  language: system
  require_serial: true

isort:
  name: isort — sort Python imports (auto-fix)
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy — static Python typing
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

nbstripout:
  name: nbstripout — strip out notebook metadata and outputs (auto-fix)
  entry: poetry run nbstripout
  language: system
  args:
  - --extra-keys
  ...

nbqa-black:
  name: nbqa-black — Python code formatting for notebooks (auto-fix)
  entry: poetry run nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8 — PEP8 linter for notebooks
  entry: poetry run nbqa flake8
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort — sort Python imports for notebooks (auto-fix)
  entry: poetry run nbqa isort
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy — static Python typing for notebooks
  entry: poetry run nbqa mypy
  language: system
  require_serial: true

check-toml:
  name: Check TOML files syntax
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check YAML files syntax
  entry: poetry run check-yaml
  language: system

docs: drop redundant `src` API reference documentation page
  docs/reference/reference.md
  docs/reference/src.md
Due: none

docs: improve `cruft` documentation in contributing guidelines
  docs/contributing.md
  {{ cookiecutter.repository_name }}/docs/contributing.md
Due: none

docs: clarify testing, and CI/CD documentation
  docs/contributing.md
Due: none

docs: remove legacy reference to ReST in documentation
  docs/contributing.md
  {{ cookiecutter.repository_name }}/docs/contributing.md
Due: none

docs: remove GitLab references for simplicity
  README.md
  cookiecutter.json
Due: none

chore: bump underlying GitPython, and Jinja2 dependencies
  poetry.lock
Due: none

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@3eddcf846892858a74d94c88ffd15a65c132986a 🚀
  .doctrees/environment.pickle
  .doctrees/index.doctree
  index.html
  searchindex.js
Due: none

fix: bump `bandit`
  poetry.lock
Due: none

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@0016b5e1b49321759251b9a7e7a700169e557737 🚀
  .doctrees/environment.pickle
Due: none

fix: use caching properly in GitHub Actions
  .github/actions/install-poetry/action.yml
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

fix: use caching properly in GitHub Actions
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@592e6a82e93c050c1d9223694ef8c8f0c218fb1a 🚀
  .doctrees/environment.pickle
Due: none

chore: remove `cookiecutter` dependency
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: update Poetry environment
  poetry.lock
Due: none

chore: add Make command for all tests
  Makefile
  docs/contributing.md
  {{ cookiecutter.repository_name }}/Makefile
  {{ cookiecutter.repository_name }}/docs/contributing.md
Due: none

fix: repair GitHub Actions
  .github/actions/install-poetry/action.yml
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

refactor: streamline GitHub Actions
  .github/actions/install-poetry/action.yml
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

chore: change example Make commands to use `cruft`
  Makefile
Due: none

chore: make Poetry all optional dependency groups mandatory
  docs/contributing.md
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/docs/contributing.md
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

refactor: amend all instances of `poetry install`
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  Makefile
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/Makefile
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy, check-yaml

test: streamline test patches
  tests/hooks/test_post_gen_project.py
Due: black, flake8, isort, mypy

chore: exclude template from pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

feat: add custom logger
  {{ cookiecutter.repository_name }}/docs/reference/reference.md
  {{ cookiecutter.repository_name }}/docs/reference/{{ cookiecutter.package_name }}.md
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/config/__init__.py
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/config/custom_logger.py
  {{ cookiecutter.repository_name }}/tests/{{ cookiecutter.package_name }}/.gitkeep
  {{ cookiecutter.repository_name }}/tests/{{ cookiecutter.package_name }}/config/test_logger.py
Due: black, flake8, isort, mypy

feat: add Pydantic settings file
  {{ cookiecutter.repository_name }}/docs/reference/{{ cookiecutter.package_name }}.md
  {{ cookiecutter.repository_name }}/pyproject.toml
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/config/__init__.py
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/config/settings.py
Due: black, flake8, isort, mypy, check-toml

fix: add `POETRY_HOME` for Linux/macOS Poetry installation compatibility
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
Due: check-yaml

feat: add Pydantic settings file
  {{ cookiecutter.repository_name }}/docs/reference/{{ cookiecutter.package_name }}.md
  {{ cookiecutter.repository_name }}/noxfile.py
  {{ cookiecutter.repository_name }}/pyproject.toml
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/config/__init__.py
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/config/settings.py
Due: black, flake8, isort, mypy, check-toml

chore: exclude some files from pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

docs: refactor contributing guidelines for clarity
  docs/code-of-conduct.md
  docs/contributing.md
  docs/contributing/ci-cd.md
  docs/contributing/documentation.md
  docs/contributing/pre-commit-hooks.md
  docs/contributing/testing.md
  {{ cookiecutter.repository_name }}/docs/code-of-conduct.md
  {{ cookiecutter.repository_name }}/docs/contributing.md
  {{ cookiecutter.repository_name }}/docs/contributing/ci-cd.md
  {{ cookiecutter.repository_name }}/docs/contributing/documentation.md
  {{ cookiecutter.repository_name }}/docs/contributing/pre-commit-hooks.md
  {{ cookiecutter.repository_name }}/docs/contributing/syncing-with-template.md
  {{ cookiecutter.repository_name }}/docs/contributing/testing.md
Due: none

chore: add default shell to Sphinx GitHub Action
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

feat: add a `cruft` autoupdate GitHub Action
  {{ cookiecutter.repository_name }}/.github/workflows/cruft-autoupdate.yml
Due: check-yaml

chore: reformat GitHub Actions
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

feat: disable `cruft` autoupdate for non-public HTTPS template links
  README.md
  hooks/post_gen_project.py
  tests/hooks/test_post_gen_project.py
  {{ cookiecutter.repository_name }}/docs/contributing/ci-cd.md
Due: black, flake8, isort, mypy

fix: add unique caching names for matrix workflows
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
Due: check-yaml

ci: remove caching from GitHub Actions Poetry install
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
Due: check-yaml

docs: add missing `hooks` API documentation
  docs/reference/hooks.md
  hooks/post_gen_project.py
Due: black, flake8, isort, mypy

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@a2d22eaee5830964c848195470eb30c06f0b105f 🚀
  .doctrees/environment.pickle
Due: none

chore: update Jinja2 to fix vulnerabilities
  poetry.lock
Due: none

feat: update Safety package, and add a policy file
  .safety-policy.yml
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/.safety-policy.yml
Due: check-toml, check-yaml

chore: update all packages
  poetry.lock
  pyproject.toml
Due: check-toml

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  nbqa-black: any of: \.ipynb$
  nbqa-flake8: any of: \.ipynb$
  nbqa-isort: any of: \.ipynb$
  nbqa-mypy: any of: \.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
