Repository ESKYoung/cookiecutter-machine-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, check-toml, check-yaml

black:
  name: black — Python code formatter (auto-fix)
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - .
  pass_filenames: false

flake8:
  name: flake8 — PEP8 linter
  entry: poetry run flake8
  language: system
  require_serial: true

isort:
  name: isort — sort Python imports (auto-fix)
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy — static Python typing
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

check-toml:
  name: Check TOML files syntax
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check YAML files syntax
  entry: poetry run check-yaml
  language: system

chore: update all template packages
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: none

fix: refactor code due to `black` formatter
  {{ cookiecutter.repository_name }}/tests/{{ cookiecutter.package_name }}/config/test_logger.py
Due: none

chore: update template `black` version
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: none

feat: update Safety package, and add a policy file
  .safety-policy.yml
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/.safety-policy.yml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml, check-yaml

chore: update licence year
  LICENSE
  {{ cookiecutter.repository_name }}/THIRD_PARTY_NOTICES.md
Due: none

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@e53da8a277074f0724f2a502d6b0a1929f754417 🚀
  .doctrees/environment.pickle
Due: none

chore: update dependencies to resolve vulnerabilities
  .safety-policy.yml
  poetry.lock
Due: check-yaml

chore: ignore `jinja2` vulnerability in template
  {{ cookiecutter.repository_name }}/.safety-policy.yml
Due: none

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@740e8b0bd19bc421221df6212baae13e7f2512cb 🚀
  .doctrees/environment.pickle
Due: none

ci: enable write permissions for GitHub Pages deployment
  .github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@bdff1d7d4f0f08a43a8f94f77b55819109267c71 🚀
  .doctrees/environment.pickle
Due: none

chore: update Safety policy
  .safety-policy.yml
  {{ cookiecutter.repository_name }}/.safety-policy.yml
Due: check-yaml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@a7b958f318bcfae68bbb3c73f43df357c3b1db32 🚀
  .doctrees/environment.pickle
Due: none

chore: rename folder to `exploratory`
  {{ cookiecutter.repository_name }}/.gitignore
  {{ cookiecutter.repository_name }}/exploratory/example_notebook.ipynb
Due: none

chore: migrate example notebook inside a folder
  {{ cookiecutter.repository_name }}/exploratory/example/example_notebook.ipynb
Due: none

feat: add a Bash script to install an exploratory Python environment
  {{ cookiecutter.repository_name }}/exploratory/example/example_notebook.ipynb
  {{ cookiecutter.repository_name }}/exploratory/set_exploratory_env.sh
Due: none

chore: add an example exploratory Python package
  {{ cookiecutter.repository_name }}/exploratory/example/example_notebook.ipynb
  {{ cookiecutter.repository_name }}/exploratory/example/src/example_package/__init__.py
  {{ cookiecutter.repository_name }}/exploratory/example/src/example_package/hello_world.py
Due: none

docs: add docs on how to develop in the `exploratory` folder
  {{ cookiecutter.repository_name }}/exploratory/README.md
Due: none

docs: add docs for the example exploratory package
  {{ cookiecutter.repository_name }}/exploratory/example/README.md
Due: none

test: add unit tests for the example exploratory package
  .flake8
  {{ cookiecutter.repository_name }}/.flake8
  {{ cookiecutter.repository_name }}/exploratory/example/tests/example_package/test___init__.py
  {{ cookiecutter.repository_name }}/exploratory/example/tests/example_package/test_hello_world.py
Due: none

fix: remove Flake8 E402 check for Jupyter notebooks
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: none

fix: fix formatting of example Jupyter notebook
  {{ cookiecutter.repository_name }}/exploratory/example/example_notebook.ipynb
Due: none

fix: fix issue with temporary constraints file
  {{ cookiecutter.repository_name }}/exploratory/set_exploratory_env.sh
Due: none

fix: remove constraints if an existing `requirements.txt` file exists
  {{ cookiecutter.repository_name }}/exploratory/set_exploratory_env.sh
Due: none

fix: remove safety
  .pre-commit-config.yaml
  .safety-policy.yml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repository_name }}/.safety-policy.yml
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml, check-yaml

deps: update `requests`
  poetry.lock
Due: none

fix: drop Python 3.9 support
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

deps: update `black`
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

fix: drop support for Python 3.9
  .github/workflows/nox.yml
  noxfile.py
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy, check-yaml

Path conditions:
  black: any of: \.py$, but not: ^\{\{ cookiecutter\.repository_name \}\}/
  flake8: any of: \.py$, but not: ^\{\{ cookiecutter\.repository_name \}\}/
  isort: any of: \.py$, but not: ^\{\{ cookiecutter\.repository_name \}\}/
  mypy: any of: \.py$, but not: ^\{\{ cookiecutter\.repository_name \}\}/
  check-toml: any of: \.toml$, but not: ^\{\{ cookiecutter\.repository_name \}\}/
  check-yaml: any of: \.(yaml|yml)$, but not: ^\{\{ cookiecutter\.repository_name \}\}/
