Repository ESKYoung/cookiecutter-machine-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Secrets detection
      - id: detect-secrets
        name: detect-secrets — secrets detection
        entry: poetry run detect-secrets-hook
        language: system
        args: ["--baseline", ".secrets.baseline"]

      # Python code formatting, typing, linting, and vulnerability checks
      - id: black
        name: black — Python code formatter (auto-fix)
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
        args: ["."]
        pass_filenames: false
      - id: flake8
        name: flake8 — PEP8 linter
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort — sort Python imports (auto-fix)
        entry: poetry run isort
        language: system
        types: [python]
        require_serial: true
      - id: mypy
        name: mypy — static Python typing
        entry: poetry run mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: safety
        name: safety — check for security vulnerabilities in Python packages
        entry: poetry run safety check
        language: system
        pass_filenames: false
        args: ["--bare"]

      # Jupyter, JupyterLab, Google Colab, and Databricks notebook checks
      - id: nbstripout
        name: nbstripout — strip out notebook metadata and outputs (auto-fix)
        entry: poetry run nbstripout
        language: system
        types: [jupyter]
        args:
          - --extra-keys
          - "metadata.colab metadata.kernelspec cell.metadata.colab cell.metadata.executionInfo cell.metadata.id cell.metadata.outputId cell.metadata.application/vnd.databricks.v1+cell metadata.application/vnd.databricks.v1+notebook metadata.interpreter"
      - id: nbqa-black
        name: nbqa-black — Python code formatting for notebooks (auto-fix)
        entry: poetry run nbqa black
        language: system
        types: [jupyter]
        require_serial: true
      - id: nbqa-flake8
        name: nbqa-flake8 — PEP8 linter for notebooks
        entry: poetry run nbqa flake8
        language: system
        types: [jupyter]
        require_serial: true
      - id: nbqa-isort
        name: nbqa-isort — sort Python imports for notebooks (auto-fix)
        entry: poetry run nbqa isort
        language: system
        types: [jupyter]
        require_serial: true
      - id: nbqa-mypy
        name: nbqa-mypy — static Python typing for notebooks
        entry: poetry run nbqa mypy
        language: system
        types: [jupyter]
        require_serial: true

      # General code formatting
      - id: end-of-file-fixer
        name: Fix blank lines at end of files (auto-fix)
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system

      # Other checks
      - id: check-added-large-files
        name: Check for added large files (500+ kb)
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check TOML files syntax
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check YAML files syntax
        entry: poetry run check-yaml
        language: system
        types: [yaml]

  # Code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: prettier — code formatting for various languages (auto-fix)

chore: add `docs`, and `tests` folder
  docs/.gitkeep
  tests/conftest.py
  tests/fixtures/.gitkeep
  tests/integration/.gitkeep
  tests/system/.gitkeep
  tests/unit/.gitkeep
Due: black, flake8, isort, mypy

chore: add testing packages to Poetry environment
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: check-toml

ci: add `nox` sessions
  CONTRIBUTING.md
  noxfile.py
Due: black, flake8, isort, mypy

chore: add `cruft` and `cookiecutter` packages to Poetry environment
  poetry.lock
  pyproject.toml
Due: check-toml

docs: add "Getting Started" docs to `README.md`
  README.md
Due: none

docs: add Code of Conduct, and conventions documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

docs: add a Pull Request template
  .github/pull_request_template.md
Due: none

ci: add GitHub Actions to run `nox` sessions
  .github/workflows/nox.yml
  CONTRIBUTING.md
Due: check-yaml

chore: add `Sphinx` packages to Poetry environment
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: check-toml

docs: add Sphinx documentation to project
  CONTRIBUTING.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/_static/.gitkeep
  docs/_templates/.gitkeep
  docs/conf.py
  docs/index.md
Due: black, flake8, isort, mypy

ci: add `Sphinx` documentation build checks to `nox` sessions
  .github/workflows/nox.yml
  CONTRIBUTING.md
  noxfile.py
Due: black, flake8, isort, mypy, check-yaml

feat: add a `Makefile` with some helper functions
  CONTRIBUTING.md
  Makefile
Due: none

ci: add GitHub Actions to build, and deploy docs to GitHub pages
  .github/workflows/sphinx-build-and-deploy.yml
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: check-toml, check-yaml

feat: bump project version
  poetry.lock
  pyproject.toml
Due: check-toml

test: add tests and `nox` sessions to cookiecutter template
  {{ cookiecutter.repository_name }}/noxfile.py
  {{ cookiecutter.repository_name }}/tests/conftest.py
  {{ cookiecutter.repository_name }}/tests/fixtures/.gitkeep
  {{ cookiecutter.repository_name }}/tests/integration/.gitkeep
  {{ cookiecutter.repository_name }}/tests/system/.gitkeep
  {{ cookiecutter.repository_name }}/tests/unit/.gitkeep
Due: black, flake8, isort, mypy

feat: add skeleton cookiecutter template
  .pre-commit-config.yaml
  Makefile
  cookiecutter.json
  {{ cookiecutter.repository_name }}/.gitignore
  {{ cookiecutter.repository_name }}/CODE_OF_CONDUCT.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/README.md
  {{ cookiecutter.repository_name }}/pyproject.toml
  {{ cookiecutter.repository_name }}/src/{{ cookiecutter.package_name }}/__init__.py
  {{ cookiecutter.repository_name }}/{% if cookiecutter.license == "MIT" %}LICENSE{% endif %}
Due: black, flake8, isort, mypy, check-toml, check-yaml

feat: add pre-commit hooks to cookiecutter template
  {{ cookiecutter.repository_name }}/.flake8
  {{ cookiecutter.repository_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repository_name }}/.secrets.baseline
Due: check-yaml

docs: add a Pull Request template for the cookiecutter template
  {{ cookiecutter.repository_name }}/.github/pull_request_template.md
Due: none

feat: make group dependency installs optional for `nox` sessions
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

fix: amend `nbqa` hooks to handle Jinja templating in template
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

feat: add `notebooks` folder with example notebook in template
  {{ cookiecutter.repository_name }}/.gitignore
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/Makefile
  {{ cookiecutter.repository_name }}/notebooks/example_notebook.ipynb
  {{ cookiecutter.repository_name }}/noxfile.py
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: black, flake8, isort, mypy, nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy, check-toml

feat: add `Makefile` to cookiecutter template
  {{ cookiecutter.repository_name }}/Makefile
Due: none

test: add `nox` session to build an example project, and test it
  .github/workflows/nox.yml
  noxfile.py
Due: black, flake8, isort, mypy, check-yaml

ci: streamline GitHub Action workflow by splitting out Poetry install
  .github/actions/install-poetry/action.yml
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  cookiecutter.json
  {{ cookiecutter.repository_name }}/.github/actions/install-poetry/action.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
Due: check-yaml

fix: add `nox` session name to temporary requirements file
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

docs: add placeholder Sphinx documentation for the cookiecutter template
  {{ cookiecutter.repository_name }}/docs/CODE_OF_CONDUCT.md
  {{ cookiecutter.repository_name }}/docs/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/docs/_static/.gitkeep
  {{ cookiecutter.repository_name }}/docs/_templates/.gitkeep
  {{ cookiecutter.repository_name }}/docs/assumptions.md
  {{ cookiecutter.repository_name }}/docs/conf.py
  {{ cookiecutter.repository_name }}/docs/data_sources.md
  {{ cookiecutter.repository_name }}/docs/index.md
Due: black, flake8, isort, mypy

feat: add a `data` folder, ignoring its entire contents
  {{ cookiecutter.repository_name }}/.gitignore
  {{ cookiecutter.repository_name }}/data/.gitkeep
Due: none

ci: add GitHub Actions to cookiecutter template
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: check-yaml

fix: change incorrect Jinja2 templating in `docs/conf.py`
  {{ cookiecutter.repository_name }}/docs/conf.py
Due: black, flake8, isort, mypy

fix: exclude template files with duplicate names in parent project
  .pre-commit-config.yaml
Due: check-yaml

docs: add missing docs on pushing the created repository to a remote
  README.md
Due: none

docs: add clarity on configuring pre-commit hooks
  CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: none

docs: add docs on modifying `cookiecutter` projects
  CONTRIBUTING.md
Due: none

docs: add additional guidance on writing documentation
  CONTRIBUTING.md
  README.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/README.md
Due: none

docs: add missing `reference.md` file
  .gitignore
  Makefile
  docs/index.md
  docs/reference/reference.md
  {{ cookiecutter.repository_name }}/.gitignore
  {{ cookiecutter.repository_name }}/Makefile
  {{ cookiecutter.repository_name }}/docs/index.md
  {{ cookiecutter.repository_name }}/docs/reference/reference.md
Due: none

docs: add theme options for Sphinx
  docs/conf.py
  {{ cookiecutter.repository_name }}/docs/conf.py
Due: black, flake8, isort, mypy

fix: remove unnecessary `mypy` ignore from example notebook
  {{ cookiecutter.repository_name }}/notebooks/example_notebook.ipynb
Due: nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy

fix: pin example build `nox` session's Python version
  noxfile.py
Due: black, flake8, isort, mypy
