Repository ESKYoung/cookiecutter-machine-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy, check-toml, check-yaml

black:
  name: black — Python code formatter (auto-fix)
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - .
  pass_filenames: false

flake8:
  name: flake8 — PEP8 linter
  entry: poetry run flake8
  language: system
  require_serial: true

isort:
  name: isort — sort Python imports (auto-fix)
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy — static Python typing
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

nbstripout:
  name: nbstripout — strip out notebook metadata and outputs (auto-fix)
  entry: poetry run nbstripout
  language: system
  args:
  - --extra-keys
  ...

nbqa-black:
  name: nbqa-black — Python code formatting for notebooks (auto-fix)
  entry: poetry run nbqa black
  language: system
  require_serial: true

nbqa-flake8:
  name: nbqa-flake8 — PEP8 linter for notebooks
  entry: poetry run nbqa flake8
  language: system
  require_serial: true

nbqa-isort:
  name: nbqa-isort — sort Python imports for notebooks (auto-fix)
  entry: poetry run nbqa isort
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy — static Python typing for notebooks
  entry: poetry run nbqa mypy
  language: system
  require_serial: true

check-toml:
  name: Check TOML files syntax
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check YAML files syntax
  entry: poetry run check-yaml
  language: system

Revert "fix: remove unnecessary `mypy` ignore from example notebook"
  {{ cookiecutter.repository_name }}/notebooks/example_notebook.ipynb
Due: nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy

refactor: remove notebook pre-commit hooks
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

chore: add `sync` option for `poetry install`
  .github/workflows/nox.yml
  .github/workflows/sphinx-build-and-deploy.yml
  CONTRIBUTING.md
  Makefile
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/sphinx-build-and-deploy.yml
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/Makefile
Due: check-yaml

docs: add clarity on `nox` session naming requirements
  CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: none

docs: add missing `nox` session to build an example project
  CONTRIBUTING.md
Due: none

fix: `prettier` hook issue with Jinja templating
  {{ cookiecutter.repository_name }}/README.md
Due: none

chore: bump project to version 1.0.0
  pyproject.toml
Due: check-toml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@ceb89d6142f6a18464effab1501b7c03cc5995fd 🚀
  .buildinfo
  .doctrees/CONTRIBUTING.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/reference/reference.doctree
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _sources/index.md.txt
  _sources/reference/reference.md.txt
  _static/documentation_options.js
  genindex.html
  index.html
  objects.inv
  reference/reference.html
  searchindex.js
Due: none

ci: trigger `nox` GitHub Actions on PR only
  .github/workflows/nox.yml
  CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: check-yaml

ci: reduce GitHub Actions matrix
  .github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
Due: check-yaml

test: reduce `nox` session Python versions checks
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

chore: bump project version to 1.0.1
  pyproject.toml
Due: check-toml

ci: re-enable fail fast to reduce billing time
  .github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
Due: check-yaml

Revert "test: reduce `nox` session Python versions checks"
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@88944cd47e3bfc05ea330689c8bd39097a2376df 🚀
  .buildinfo
  .doctrees/CONTRIBUTING.doctree
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/documentation_options.js
  genindex.html
  index.html
  reference/reference.html
  search.html
  searchindex.js
Due: none

ci: only run `_example`, and `testing` `nox` session on macOS
  .github/workflows/nox.yml
  {{ cookiecutter.repository_name }}/.github/workflows/nox.yml
Due: check-yaml

chore: bump project version to 1.0.2
  pyproject.toml
Due: check-toml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@9820688d29415d845f9a1d53ab2324b3989a1e9f 🚀
  .buildinfo
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/documentation_options.js
  genindex.html
  index.html
  reference/reference.html
  search.html
Due: none

feat: strip VS Code metadata from notebooks
  {{ cookiecutter.repository_name }}/.pre-commit-config.yaml
Due: check-yaml

fix: exclude `.cruft.json` in pre-commit hooks
  {{ cookiecutter.repository_name }}/.pre-commit-config.yaml
Due: check-yaml

fix: move `cookiecutter` packages to a separate group for new projects
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/Makefile
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

docs: add info on identifying `safety` vulnerabilities
  CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: none

chore: bump project version to 1.0.3
  pyproject.toml
Due: check-toml

Deploying to gh-pages from @ ESKYoung/cookiecutter-machine-learning@c9f53f7d7cf1a35ce48f94806fbcbaf2dcb6cf9c 🚀
  .buildinfo
  .doctrees/CONTRIBUTING.doctree
  .doctrees/environment.pickle
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  _static/documentation_options.js
  genindex.html
  index.html
  reference/reference.html
  search.html
  searchindex.js
Due: none

chore: update to Poetry 1.3
  CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: none

chore: bump `pytest-xdist` to resolve CVE with `py`
  poetry.lock
  pyproject.toml
Due: check-toml

chore: update all Python packages, and their constraints
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: remove redundant nbQA options in `pyproject.toml`
  pyproject.toml
Due: check-toml

chore: bump project version to 1.1.0
  pyproject.toml
Due: check-toml

chore: fix GitHub Actions deprecation message
  .github/actions/install-poetry/action.yml
Due: check-yaml

docs: update external documentation links
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  {{ cookiecutter.repository_name }}/CODE_OF_CONDUCT.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: none

fix: remove unused ignore in example notebook
  {{ cookiecutter.repository_name }}/notebooks/example_notebook.ipynb
Due: nbstripout, nbqa-black, nbqa-flake8, nbqa-isort, nbqa-mypy

docs: clean up documentation links
  README.md
  {{ cookiecutter.repository_name }}/README.md
Due: none

chore: bump `myst-parser` version to 2.0.0 to resolve security issues
  poetry.lock
  pyproject.toml
  {{ cookiecutter.repository_name }}/pyproject.toml
Due: check-toml

chore: update packages based on constraints
  poetry.lock
Due: none

fix: add `testing` dependency group to pre-commit `nox` session
  noxfile.py
  {{ cookiecutter.repository_name }}/noxfile.py
Due: black, flake8, isort, mypy

docs: add guidance on updating projects with `cruft`
  README.md
  {{ cookiecutter.repository_name }}/CONTRIBUTING.md
Due: none

fix: incorrect muting of command print in `Makefile`
  Makefile
Due: none

chore: hide `echo` command logging in `Makefile`
  Makefile
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  nbqa-black: any of: \.ipynb$
  nbqa-flake8: any of: \.ipynb$
  nbqa-isort: any of: \.ipynb$
  nbqa-mypy: any of: \.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
